scikit-learn
pandas 
numpy
matplotlib
keras
seaborn
joblib
fastapi
tensorflow
mlflow
sqlalchemy
pyodbc
python-dotenv
apache-airflow==2.9.3
uvicorn
pytest
docker
prometheus-client
great-expectations
pre-commit
tabulate